.full-player {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
  width: 100%;

  .blurried-cover {
    position: fixed;
    display: block;
    width: 100%;
    filter: blur(10px);

    img {
      width: 100%;
      height: auto;
    }
  }

  .cover {
    height: 100%;
    z-index: 1;

    img {
      height: 100%;
      width: auto;
    }
  }

  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
  }

  .overlay--visibile {
    display: block;
  }

  .meta-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;

    > * {
      width: 64rem;
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      padding-bottom: 6rem;
    }
  }

  .progress {
    flex-grow: 1;
    margin: 0 4rem;
    display: flex;
    align-items: center;

    progress {
      margin: 1rem;
      flex-grow: 1;
    }
  }

  .meta {
    margin: 0 1.2rem;
  }

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      font-size: 1.2em;
    }
  }

  .name,
  .button {
    display: block;
    margin-bottom: 0;
  }

  .name {
    font-size: 3rem;
    font-weight: bold;
  }

  .authors {
    font-size: 2rem;
  }

  svg {
    height: 3rem;
    width: 3rem;
    fill: white;
  }

  .volume {
    margin-left: 1rem;

    .volume-up-button,
    .volume-down-button {
      font-size: 1em;
      line-height: 1em;
      cursor: pointer;
    }
  }

  #volume {
    margin-right: 0.4rem;
  }
}

@media (max-width: 1024px) {
  full-player {
    justify-content: space-between;
    flex-wrap: wrap;

    .progress {
      flex-grow: 0;
      width: 100%;
      order: -1;
      margin: 0 1rem 1rem 1rem;
    }

    .meta {
      flex-grow: 1;
      font-size: 1.2rem;

      .name {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 32rem;
      }
    }

    .volume {
      width: 100%;
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  full-player {
    .meta {
      .name {
        max-width: 11rem;
      }
    }
  }
}
